<div *ngIf="dataLoaded==false" class="spinner-border text-primary" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="mb-3">
  <label for="filterText" class="form-label mt-1">Search product</label>
  <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="Find the product">
</div>
<div *ngIf="filterText.length>2" class="alert alert-success text-white">
  {{filterText}} aradınız
</div>
<table *ngIf="dataLoaded!=false" class="table table-responsive">
  <thead>
    <tr>
      <th scope="col">Product Id</th>
      <th scope="col">Product Name</th>
      <th scope="col">Category Id</th>
      <th scope="col">Unit Price</th>
      <th>After vat is added</th>
      <th scope="col">Units In Stock</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products |filterPipe:filterText">
      <th scope="row">{{product.productId}} </th>
      <td>{{product.productName |lowercase}}</td>
      <td>{{product.categoryId}}</td>
      <td>{{product.unitPrice |currency}}</td>
      <td>{{product.unitPrice |vatAdded:18 | currency }}</td>
      <td>{{product.unitsInStock}}</td>
      <td><button (click)="addToCart(product)" class="btn btn-outline-success">Add to cart</button></td>
    </tr>
  </tbody>
</table>
